<% layout("layout/boilerplate") %>
<h1 class="my-4 text-center">Latest Tenders</h1>
<hr />
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <% for(let tender of tenders) {%>
      <tr>
        <td><a href="/tenders/<%=tender._id %>"><%= tender.title %></a></td>
        <td><%= tender.description %></td>
        <td><%= tender.category %></td>
      </tr>
      <% } %>
    </tbody>
    <a
      href="https://docs.google.com/uc?export=download&id=1iI5CdLCzzyzWkluvRRc-cxZX5Gt2alak"
      download
      >Download BOQ</a
    >
  </table>
</div>
